html {
    height: 100%;
}

body {
    font-family: 'Noticia Text', serif;
    text-align: left;
}

.masthead {
    position: absolute;
    width: 225px;
    height: 80px;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

h1 { 
    margin: 0;
    font-size: 2em;
    letter-spacing: 0.05em;
}

nav {
  width: 100%;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: bottom 0.5s ease, opacity 0.5s ease;
       -moz-transition: bottom 0.5s ease, opacity 0.5s ease;
         -o-transition: bottom 0.5s ease, opacity 0.5s ease;
            transition: bottom 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.3s;
}

nav.move {
    bottom: 0;
    opacity: 1;
}

a {
    float: left;
    text-decoration: none;
    color: #0ccccc;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

a:hover {
    color: black;
}

.fa {
    font-size: 1.5em;
    margin: 0 11px;
}

.fa.fa-facebook {
    margin-left: 0;
}

.fa.fa-github {
    margin-right: 0;
}